// From: http://www.assemblesoft.com/examples/form/simpleform.html
* {margin:0; padding:0;}

html {
	font: 90%/1.3 arial,sans-serif;
	padding:1em;
	background:#B9C2CC;
}
form {
	background:#fff;
	padding:1em;
	border:1px solid #eee;
}

fieldset div {
	margin:1em 1em;
}

form {
	width:20em;
}

label {
	width:12em;
	display:block;
	clear:both;
}

input {
	padding:0.2em;
	width:15em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold
	float:left;
}
